.div-lobby {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;

    .div-header-lobby {
        font-size: xx-large;
        font-weight: 900;
    }

    .div-card-lobby {
        background-color: var(--grey-second);
        width: 600px;
        height: auto;
        padding: 12px;
        margin-top: 40px;

        .button {
            width: 100%;
            height: 42px;
            background-color: var(--grey-main);
            color: white;
            cursor: pointer;
        }
    }
}