.div-toggle {
    display: flex;

    .icon-toggle {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border: solid 1px #ffffff35;
        border-radius: 6px;
        margin-bottom: 16px;
    }

    .icon-toggle:hover {
        color: var(--grey-main);
        background-color: white;
    }

    .div-toggle-label {
        margin-left: 8px;
    }
}

