.div-verification-input-container {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;

    .div-verification-input {
        width: 14%;
        height: 100%;
        display: flex;
        margin: auto 0;
        font-size: xx-large;
        font-weight: bold;
        text-align: center;
        font-family: 'Work Sans', sans-serif;
        outline: 0;
        border: solid 1px #ffffff15;
        border-radius: 6px;
        color: white;
        background-color: #ffffff10;
    }

    input:focus {
        border: solid 2px #ffffffaa;
    }
}

.div-verification-line-item {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}