:root {
  --grey-main: #09090b;
  --grey-second: #141414;
  --grey-third: hsl(0, 0%, 60%);
  --secondary1: #7678ED;
  --secondary2: #d7c8ed;
  --red: #FD151B;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-x: hidden;
}

* {
  scrollbar-width: thin;
  scrollbar-color: transparent;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #99999950;
  border-radius: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.div-fixed {
  width: 100%;
  height: 100%;
  position: fixed;
}

.icon-transparent {
  color: white;
  background-color: transparent;
  border: none;
}

.icon-colored {
  color: var(--grey-main);
  background-color: var(--secondary2);
  border: none;
}
