.icon-chat {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--grey-main);
    background-color: var(--secondary1);
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

.icon-chat:hover {
    color: var(--grey-main);
    background-color: white;
}