.icon-new-chat {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 40px;
    color: white;
    background-color: transparent;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

.icon-new-chat:hover {
    color: var(--grey-main);
    background-color: white;
}