body{
    margin: 0;
    padding: 0;
    background-color: var(--grey-main);
}

.div-main {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: var(--grey-second);
}
