body{
    margin: 0;
    padding: 0;
    background-color: var(--grey-main);
}

.div-main {
    width: 100%;
    height: 100vh;
    background-color: #141414;

    .div-chat-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 64px 0 64px 0;
    }
}
