.Typography {
    a:link {
        color: var(--secondary1);
        background-color: transparent;
        text-decoration: none;
    }
      
    a:visited {
        color: var(--secondary1);
        background-color: transparent;
        text-decoration: none;
    }
    
    a:hover {
        cursor: pointer;
        color: var(--secondary2);
        background-color: transparent;
        text-decoration: underline;
    }
    
    a:active {
        color: var(--secondary2);
        background-color: transparent;
        text-decoration: underline;
    }
}

.white {
    color: white;
}

.secondary1 {
    color: var(--secondary1)
}

.secondary2 {
    color: var(--secondary2)
}