.div-chat-page-col {
    width: 360px;
    height: 100%;
    display: flex;
    flex-direction: column;
    // border-right: solid 1px #ffffff35;

    .div-chat-page-col-row-1 {
        width: 100%;
        height: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        // border-bottom: solid 1px #ffffff35;

        .div-chat-page-col-row-1-row {
            width: 90%;
            height: 32px;
            display: flex;
            justify-content: space-between;
        }

        .div-chat-page-col-row-1-row-end {
            width: 90%;
            height: 32px;
            display: flex;
            flex-direction: row-reverse;
        }
    }

    .div-chat-page-col-row-2 {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.div-chat-area-col-3 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--grey-main);

    .div-chat-area-col-3-nav {
        display: flex;
        width: 100%;
        height: 64px;
        background-color: var(--grey-second);

        .div-chat-area-col-3-nav-1 {
            display: flex;
            width: 64px;
            height: 100%;
            align-items: center;
            justify-content: space-around;
        }

        .div-chat-area-col-3-nav-2 {
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: space-evenly;

            .div-chat-area-col-3-nav-2-row {
                display: flex;
                width: 100%;
                height: 30%;
                align-items: center;
            }
        }
    }

    .div-chat-area {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        overflow-y: scroll;
    }

    .div-input-box {
        display: flex;
        width: 100%;
        height: 100px;
        margin-bottom: 12px;

        .div-input-box-padding {
            display: flex;
            width: 12px;
            height: 100%;
        }

        .div-input-box-ui {
            display: flex;
            width: 100%;
            height: 100%;
        }
    }
}

.div-profile-col-4 {
    width: 360px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .div-profile-col-4-profile {
        width: 100%;
        height: 240px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 24px;
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #00000035;

        .div-profile-col-4-profile-photo {
            width: 64px;
            height: 64px;
            border-radius: 24px;
            align-items: center;
            justify-content: space-around;
            display: flex;
            background-color: var(--grey-main);
        }

        .div-profile-col-4-profile-photo svg {
            width: 90%;
            height: 90%;
        }
    }

    .div-profile-col-4-profile-info {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .div-profile-info {
            width: 90%;
            height: auto;
            display: flex;
            border-radius: 12px;
            margin-top: 18px;
            background-color: var(--grey-main);
        }
    }
}
