.div-textfield-labelled {
    height: 58px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 16px;
    
    .div-helper {
        color: #ff000070;
    }
}