.div-message {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
    
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .div-text {
        color: white;

        .div-message-info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-left: 12px;
            margin-bottom: 12px;
        }

        .div-card-message {
            color: white;
            background-color: #505050;
            margin-left: 12px;
            padding: 12px;
            border-radius: 0px 12px 12px 12px;
        }
    }
}
