.div-message {
    display: flex;
    flex-direction: row;

    // Extra small devices (phones, 600px and down)
    @media only screen and (max-width: 600px) {
        width: 95vw;
    }
    // Small devices (portrait tablets and large phones, 600px and up)
    @media only screen and (min-width: 600px) {
        width: 95vw;
    }
    // Medium devices (landscape tablets, 768px and up)
    @media only screen and (min-width: 768px) {
        width: 95vw;
    }
    // Large devices (laptops/desktops, 992px and up)
    @media only screen and (min-width: 992px) {
        width: 840px;
    }
    // Extra large devices (large laptops and desktops, 1200px and up)
    @media only screen and (min-width: 1200px) {
        width: 840px;
    }

    margin-top: 24px;

    .div-profile-icon {
        width: 40px;
        height: 40px;
    }

    .div-text {
        color: white;
        width: 100%;
        height: auto;

        .div-message-info {
            display: flex;
            flex-direction: row;
            margin-left: 12px;
            margin-bottom: 6px;
            font-size: xx-small;

            .div-time {
                margin-left: 12px;
            }
        }

        .div-card-message {
            color: white;
            margin-left: 12px;
        }
    }
}
