.div-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-color: var(--grey-second);

    .div-card-auth {
        display: flex;
        flex-direction: column;
        width: 600px;
        height: auto;
        min-height: 240px;
        padding: 24px;
        border: none;
        border-radius: 18px;
        justify-content: space-between;
        padding: 24px;
        background-color: var(--grey-main);
        margin: 40px 0;
        overflow: hidden;

        .div-auth-form-field {
            width: 100%;
            height: 80px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        .div-auth-form-field-dual {
            width: 100%;
            height: 80px;
            display: flex;

            .div-auth-form-field-dual-1 {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-right: 6px;
            }

            .div-auth-form-field-dual-2 {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-left: 6px;
            }

            .div-auth-form-field-dual-input {
                display: flex;
                width: 100%;
                height: 100%;
            }
        }

        .div-card-content {
            display: flex;
            width: 100%;
            height: auto;
            flex-direction: column;

            .div-card-auth-content-top {
                display: flex;
                width: auto;
                height: 64px;
                padding: 12px;
                align-items: flex-start;
                justify-content: space-between;
                border-radius: 8px;
                flex-direction: column;
                background-color: var(--grey-second);
            }

            .div-card-auth-content-bottom {
                display: flex;
                width: 100%;
                height: 180px;
                justify-content: space-between;
                flex-direction: column;
                margin-top: 24px;
            }
        }
    }
}

.div-auth-form-field-row {
    width: 100%;
    height: 36px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
