.div-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 36px;
    margin-bottom: 16px;

    .button {
        cursor: pointer;
        outline: none;
        width: 100%;
        height: 100%;
        border-radius: 6px;
        margin: auto 0;
        color: #ffffffcc;
        font-family: 'Work Sans', sans-serif;
    }

    .button:hover {
        border: solid 1px white;
        color: white;
    }
}
