.div-nav {
    width: 64px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--grey-main);
    position: fixed;

    .div-nav-row-1 {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 18px;
    }

    .div-nav-row-2 {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .div-nav-row-2-icon {
            width: 100%;
            height: 25%;
            display: flex;
        }
    }

    .div-nav-row-3 {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 18px;
    }
}