.nav {
    display: flex;
    width: 100%;
    height: 64px;
    background-color: var(--grey-main);
    justify-content: space-between;
    border-bottom: solid 1px #ffffff35;

    .nav-01 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 90px;
        height: 100%;
    }
    .nav-02 {
        width: 100%;
        height: 100%;
    }
    .nav-03 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 90px;
        height: 100%;
    }
}